<h2> Template </h2>
<hr>

<ul class="list-group">
    <li class="list-group-item"
        *ngFor="let item of templateMenu"
        [routerLink]="[ item.route ]"
        routerLinkActive="active"
    >
        {{ item.name }}
    </li>
</ul>

<h2 class="mt-4"> Reactive </h2>
<hr>

<ul class="list-group">
    <li class="list-group-item"
        *ngFor="let item of reactiveMenu"
        [routerLink]="[ item.route ]"
        routerLinkActive="active"
    >
        {{ item.name }}
    </li>
</ul>

<h2 class="mt-4"> Validation </h2>
<hr>

<ul class="list-group">
    <li class="list-group-item"
        *ngFor="let item of authMenu"
        [routerLink]="[ item.route ]"
        routerLinkActive="active"
    >
        {{ item.name }}
    </li>
</ul>

<h2 class="mt-4"> Selectores anidados </h2>
<hr>

<ul class="list-group">
    <li class="list-group-item"
        *ngFor="let item of selectorMenu"
        [routerLink]="[ item.route ]"
        routerLinkActive="active"
    >
        {{ item.name }}
    </li>
</ul>