<h2> Template: Switches </h2>
<hr>

<div class="row">
    <div class="col">
        <form #miFormulario="ngForm" (ngSubmit)="saveData()">
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label"> Género </label>

                <div class="col-sm-9">
                    <div class="form-check">
                        <input
                            class="form-check-input"
                            id="radioMasculino"
                            name="radioGenero"
                            required
                            type="radio"
                            value="M"
                            [(ngModel)]="persona.genero"
                        >
                        <label class="form-check-label" for="radioMasculino"> Masculino </label>
                    </div>

                    <div class="form-check">
                        <input
                            class="form-check-input"
                            id="radioFemenino"
                            name="radioGenero"
                            required
                            type="radio"
                            value="F"
                            [(ngModel)]="persona.genero"
                        >
                        <label class="form-check-label" for="radioFemenino"> Femenino </label>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label"> Notificaciones </label>

                <div class="col-sm-9">
                    <div class="form-check form-switch">
                        <input
                            class="form-check-input"
                            id="flexSwitchCheckChecked"
                            name="notificaciones"
                            required
                            role="switch"
                            type="checkbox"
                            [(ngModel)]="persona.notificaciones"
                        >
                        <label class="form-check-label" for="flexSwitchCheckChecked"> Quiero recibir notificaciones </label>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label"></label>

                <div class="col-sm-9">
                    <div class="form-check">
                        <input
                            class="form-check-input"
                            id="flexCheckDefault"
                            name="terminos"
                            required
                            type="checkbox"
                            value=""
                            [(ngModel)]="persona.terminos"
                        >
                        <label class="form-check-label" for="flexCheckDefault"> Términos y condiciones </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" type="submit" [disabled]="miFormulario.invalid"> Guardar </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <hr>
        <span [style.fontWeight]="'800'"> Valor del formulario: </span>
        <pre> {{ miFormulario.value | json }} </pre>
        <hr>

        <span [style.fontWeight]="'800'"> Valid: </span>
        <pre> {{ miFormulario.valid }} </pre>
        <hr>

        <span [style.fontWeight]="'800'"> Persona: </span>
        <pre> {{ persona | json }} </pre>
        <hr>
    </div>
</div>
