<h2> Formularios reactivos: Básicos: </h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="saveData()" [formGroup]="miFormulario"> 
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"> Producto </label>
                <div class="col-sm-9">
                    <input type="text" autocomplete="off" class="form-control" placeholder="Nombre del producto" formControlName="producto">
                    <span class="form-text text-danger" *ngIf="validarCampo('producto')">
                        El nombre debe tener más de 3 letras
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"> Precio </label>
                <div class="col-sm-9">
                    <input type="number" autocomplete="off" class="form-control" placeholder="Precio del producto" formControlName="precio">
                    <span class="form-text text-danger" *ngIf="validarCampo('precio')">
                        El precio debe ser mayor o igual a 0
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"> Existencia </label>
                <div class="col-sm-9">
                    <input type="number" autocomplete="off" class="form-control" placeholder="Existencias del producto" formControlName="existencia">
                    <span class="form-text text-danger" *ngIf="validarCampo('existencia')">
                        La existencia debe ser mayor o igual a 0
                    </span>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end"> Guardar </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid: </span>
        <pre> {{ miFormulario.valid }} </pre>

        <span>Pristine: </span>
        <pre>{{ miFormulario.pristine }}</pre>

        <span>Touche: </span>
        <pre> {{ miFormulario.touched }} </pre>

        <span>Value: </span>
        <pre>{{ miFormulario.value | json }}</pre>
    </div>
</div>