<h2> Template: Básicos </h2>
<hr>

<div class="row">
  <div class="col">
    <form #miFormulario="ngForm" (ngSubmit)="saveData()">
      <div class="mb-3 row">
        <label class="col-form-label col-sm-3"> Producto </label>

        <div class="col-sm-9">
          <input
            autocomplete="off"
            class="form-control"
            minlength="3"
            name="producto"
            placeholder="Nombre del producto"
            required
            type="text"
            [ngModel]="initialForm.producto"
          >

          <span class="form-text text-danger" *ngIf="invalidProductName">
            El nombre debe tener más de 2 letras
          </span>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-form-label col-sm-3"> Precio </label>

        <div class="col-sm-9">
          <input
            autocomplete="off"
            class="form-control"
            name="precio"
            placeholder="Precio del producto"
            type="number"
            appCustomMin
            [minimo]="0"
            [ngModel]="initialForm.precio"
          >

          <span class="form-text text-danger" *ngIf="invalidPrice">
            El precio debe ser mayor o igual a 0
          </span>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-form-label col-sm-3"> Existencia </label>

        <div class="col-sm-9">
          <input
            autocomplete="off"
            class="form-control"
            name="existencia"
            placeholder="Existencias del producto"
            type="number"
            appCustomMin
            [minimo]="0"
            [ngModel]="initialForm.existencia"
          >

          <span class="form-text text-danger" *ngIf="invalidExistence">
            Número inválido para existencia de productos
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" type="submit" [disabled]="miFormulario.invalid">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="mt-1 row">
  <div class="col">
    <hr>
    <span [style.fontWeight]="'800'"> Pristine: </span>
    <pre> {{ miFormulario.pristine }} </pre>
    <hr>

    <span [style.fontWeight]="'800'"> Touched: </span>
    <pre> {{ miFormulario.touched }} </pre>
    <hr>

    <span [style.fontWeight]="'800'"> Valid: </span>
    <pre> {{ miFormulario.valid }} </pre>
    <hr>

    <span [style.fontWeight]="'800'"> Valor del formulario: </span>
    <pre> {{ miFormulario.value | json }} </pre>
    <hr>

    <span [style.fontWeight]="'800'"> Error del campo "Existencia": </span>
    <pre> {{ miFormulario.form.controls.existencia && miFormulario.form.controls.existencia.errors | json }} </pre>
    <hr>

    <span [style.fontWeight]="'800'"> Error del campo "Precio": </span>
    <pre> {{ miFormulario.form.controls.precio && miFormulario.form.controls.precio.errors | json }} </pre>
  </div>
</div>
