<h2> Template: Dinámicos </h2>
<hr>

<div class="row">
  <div class="col">
    <form #miFormulario="ngForm" (ngSubmit)="saveData()">
      <div class="mb-3 row">
        <label class="col-form-label col-sm-3"> Nombre </label>

        <div class="col-sm-9">
          <input
            autocomplete="off"
            class="form-control"
            minlength="1"
            name="nombre"
            placeholder="Nombre"
            required
            [(ngModel)]="persona.nombre"
          >

          <span class="text-form text-danger" *ngIf="invalidName">
            El campo es obligatorio
          </span>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-form-label col-sm-3"> Agregar </label>

        <div class="col-sm-9">
          <div class="input-group">
            <input
              autocomplete="off"
              class="form-control"
              placeholder="Agregar favorito"
              #inputValue
              (input)="onKey($event)"
              (keyup.enter)="addFavorite()"
            >

            <button class="btn btn-outline-primary" type="button" [disabled]="!enableForm" (click)="addFavorite()">
              Agregar
            </button>
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-form-label col-sm-3"> Favoritos </label>

        <div class="col-sm-9">
          <div class="input-group mb-2" *ngFor="let item of persona.favoritos; let i = index">
            <input
              class="form-control"
              name="favorito-{{ i }}"
              required
              [(ngModel)]="item.nombre"
            >

            <button class="btn btn-outline-danger" type="button" (click)="deleteFavorite(i)">
              Eliminar
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" type="submit" [disabled]="miFormulario.invalid">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="mt-1 row">
  <div class="col">
    <hr>
    <span [style.fontWeight]="'800'"> Valor del formulario: </span>
    <pre> {{ miFormulario.value | json }} </pre>
    <hr>

    <span [style.fontWeight]="'800'"> Persona: </span>
    <pre> {{ persona | json }} </pre>
    <hr>

    <span [style.fontWeight]="'800'"> Error del campo "Nombre": </span>
    <pre> {{ miFormulario.form.controls.nombre && miFormulario.form.controls.nombre.errors | json }} </pre>
  </div>
</div>
