<h2> Template: Switches </h2>
<hr>

<div class="row">
    <div class="col">
        <form #miFormulario="ngForm">
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label"> Género </label>

                <div class="col-sm-9">
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio"
                            value="M"
                            [(ngModel)]="persona.genero"
                            name="radioGenero" 
                            id="radioMasculino"
                            required
                        >
                        <label class="form-check-label" for="radioMasculino"> Masculino </label>
                    </div>
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="radio"
                            value="F"
                            [(ngModel)]="persona.genero"
                            name="radioGenero" 
                            id="radioFemenino"
                            required
                        >
                        <label class="form-check-label" for="radioFemenino"> Femenino </label>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label"> Notificaciones </label>

                <div class="col-sm-9">
                    <div class="form-check form-switch">
                        <input 
                            class="form-check-input"
                            [(ngModel)]="persona.notificaciones"
                            name="notificaciones"
                            type="checkbox" 
                            role="switch" 
                            id="flexSwitchCheckChecked"
                            required
                        >
                        <label class="form-check-label" for="flexSwitchCheckChecked"> Quiero recibir notificaciones </label>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label"></label>
                
                <div class="col-sm-9">
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            type="checkbox" 
                            name="terminos"
                            [(ngModel)]="terminos"
                            value="" 
                            id="flexCheckDefault"
                            required
                        >
                        <label class="form-check-label" for="flexCheckDefault"> Términos y condiciones </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary" [disabled]="miFormulario.invalid"> Guardar </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <span> Valor del formulario: </span>
        <pre> {{ miFormulario.value | json }} </pre>
        
        <span> Persona: </span>
        <pre> {{ persona | json }} </pre>

        <span> Valid: </span>
        <pre> {{ miFormulario.valid }} </pre>
    </div>
</div>