<h2> Formularios reactivos: Básicos </h2>
<hr>

<div class="row">
  <div class="col">
    <form [formGroup]="miFormulario" (ngSubmit)="saveData()">
      <div class="mb-3 row">
        <label class="col-form-label col-sm-3"> Producto </label>

        <div class="col-sm-9">
          <input
            autocomplete="off"
            class="form-control"
            placeholder="Nombre del producto"
            type="text"
            formControlName="producto"
          >

          <span class="form-text text-danger" *ngIf="invalidProductName">
            El nombre debe tener más de 3 letras
          </span>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-form-label col-sm-3"> Precio </label>

        <div class="col-sm-9">
          <input
            autocomplete="off"
            class="form-control"
            placeholder="Precio del producto"
            type="number"
            formControlName="precio"
          >

          <span class="form-text text-danger" *ngIf="invalidPrice">
            El precio debe ser mayor o igual a 0
          </span>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-form-label col-sm-3"> Existencia </label>

        <div class="col-sm-9">
          <input
            autocomplete="off"
            class="form-control"
            placeholder="Existencias del producto"
            type="number"
            formControlName="existencia"
          >

          <span class="form-text text-danger" *ngIf="invalidExistence">
            La existencia debe ser mayor o igual a 0
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" type="submit" [disabled]="miFormulario.invalid">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="mt-1 row">
  <div class="col">
    <hr>
    <span [style.fontWeight]="'800'"> Pristine: </span>
    <pre> {{ miFormulario.pristine }} </pre>
    <hr>

    <span [style.fontWeight]="'800'"> Touched: </span>
    <pre> {{ miFormulario.touched }} </pre>
    <hr>

    <span [style.fontWeight]="'800'"> Valid: </span>
    <pre> {{ miFormulario.valid }} </pre>
    <hr>

    <span [style.fontWeight]="'800'"> Valor del formulario: </span>
    <pre> {{ miFormulario.value | json }} </pre>
  </div>
</div>
